<h4 class="head text-center"><strong>{{title}}</strong></h4>
<form #passwordForm="ngForm" class="editForm" novalidate>
    <div class="form-horizontal">
        <br />
        <div class="content">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="senha">Senha</label>
                    <input class="form-control input-md" #senha="ngModel" required id="senha" name="senha" type="password" [(ngModel)]="password.senha">
                    <div class="alert alert-danger" [hidden]="senha.valid">*A senha deve conter de 4 a 8 caracteres.</div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label class="control-label" for="senhaConfirm">Confirmar senha</label>
                    <input class="form-control input-md" #senhaConfirm="ngModel" required id="senhaConfirm" name="senhaConfirm" type="password" [(ngModel)]="password.senhaConfirm">
                    <div class="alert alert-danger" [hidden]="senha.valid">*Senhas não correspondem.</div>
                </div>
            </div>
            <div class="form-group text-center space-20">
                <button class="btn btn-outline-rounded btn-info" [disabled]="!passwordForm.valid" (click)="goToNext(passwordForm)"> Próximo
                            </button>
            </div>
        </div>
    </div>
</form>