<div class="container-header-login">
    <h3 class="text-header3">
        <strong>Complemente!</strong>
    </h3>
</div>
<div class="container-cadastro">
    <form class="loginCadastro" [formGroup]="cadastroComplementForm" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">

        <app-input-container class="form-group" errorMessage="*Campo telefone é obrigatório.">
            <input type="text" formControlName="telefone" name="telefone" placeholder="Telefone" class="form-input" id="telefone">
        </app-input-container>
        <div class="form-group-cep-uf">
            <app-input-container class="form-group" errorMessage="O campo Cep obrigatório.">
                <input type="text" id="form-input-cep" class="form-input-cep-uf" formControlName="cep" name="cep" placeholder="Cep" class="form-input">
            </app-input-container>

            <app-input-container class="form-group" errorMessage="O campo UF obrigatório.">
                <input type="text" id="form-input-uf" class="form-input-cep-uf" formControlName="uf" value="uf" placeholder="UF" class="form-input">
            </app-input-container>
        </div>
        <app-input-container class="form-group" errorMessage="O campo Cidade obrigatório.">
            <input type="text" formControlName="cidade" name="cidade" placeholder="Cidade" class="form-input" id="cidade">
        </app-input-container>
        <app-input-container class="form-group" errorMessage="O campo de Identificação obrigatório.">
            <input type="text" formControlName="quemSou" name="quemSou" placeholder="Quem sou?" class="form-input" id="quemSou">
        </app-input-container>

        <button type="submit" class="btn-principal" id="btnLogin" (click)="efetuarCadastroComplementar()">Próximo</button>
    </form>
</div>