.form-control:focus {
    border-color: #4FC95D;
    outline: 0;
    box-shadow: 0 0 0 0.01rem #4FC95D;
}

.form-control {
    background-color: #F6F6F6;
    color: #9A9A9A;
    margin-top: 4px;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #FFFFFF;
    background-color: #D1D1D1;
    border-color: #D1D1D1;
    padding-left: 68px;
    padding-right: 67px;
    margin-top: 19px;
    height: 30px;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4FC95D;
    border-color: #4FC95D;
    margin-top: 19px;
    height: 30px;
}

.btn-info {
    color: #FFFFFF;
    background-color: #4FC95D;
    border-color: #4FC95D;
    padding-left: 68px;
    padding-right: 67px;
    margin-top: 19px;
    height: 30px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F6F6F6;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.45rem;
    margin-left: 40px;
    margin-right: 47px;
    margin-top: 29px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-bottom: -6px;
    margin-top: -32px;
    margin-left: -10px;
    margin-right: -9px;
}

label {
    display: inline-block;
    margin-bottom: -0.5rem;
}

.head {
    margin-top: 12px;
}