<h4 class="head text-center"><strong>{{title}}</strong></h4>
<form #personalForm="ngForm" class="editForm" id="msform" novalidate>
    <br />
    <div class="content">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="nome">Nome:</label>
                <input class="form-control input-md" #nome="ngModel" required id="nome" name="nome" type="text" [(ngModel)]="personal.nome">
                <div *ngIf="personal.nome === null">
                    <div class="alert alert-danger" [hidden]="nome.valid">*O campo nome é obrigatório.</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="sobrenome">Sobrenome:</label>
                <input class="form-control input-md" #sobrenome="ngModel" required id="sobrenome" name="sobrenome" type="text" [(ngModel)]="personal.sobrenome">
                <div class="alert alert-danger" [hidden]="sobrenome.valid">*O campo sobrenome é obrigatório.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="email">E-mail:</label>
                <input class="form-control input-md" #email="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="email" name="email" type="@gma" [(ngModel)]="personal.email">
                <div class="alert alert-danger" [hidden]="email.valid">*O campo email é obrigatório.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="cemail">Confirme e-mail:</label>
                <input class="form-control input-md" #cemail="ngModel" required pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="cemail" name="cemail" type="text" [(ngModel)]="personal.cemail">
                <div class="alert alert-danger" [hidden]="cemail.valid">*É necessário confirmar o email.
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="control-label" for="ealternativo">E-mail alternativo:</label>
                <input class="form-control input-md" #ealternativo="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$" id="ealternativo" name="ealternativo" type="text" [(ngModel)]="personal.ealternativo">
                <!-- <div class="alert alert-danger" [hidden]="cemail.valid">Email is required and must be valid</div> -->
            </div>
        </div>

        <div class="form-group text-center">
            <button type="button" class="btn btn-outline-rounded btn-info" [disabled]="!personalForm.valid" (click)="goToNext(personalForm)"> Próximo
                        </button>
        </div>
    </div>
</form>