.form-control:focus {
    border-color: #4FC95D;
    outline: 0;
    box-shadow: 0 0 0 0.01rem #4FC95D;
}

.form-control {
    background-color: #F6F6F6;
    color: #9A9A9A;
    margin-top: 4px;
    margin-top: 0px;
}

.btn-info.disabled,
.btn-info:disabled {
    color: #FFFFFF;
    background-color: #D1D1D1;
    border-color: #D1D1D1;
    padding-left: 122px;
    padding-right: 99px;
    margin-left: 3px;
    margin-top: -2px;
    margin-bottom: -65px;
    height: 30px;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4FC95D;
    border-color: #4FC95D;
    margin-top: 19px;
    height: 30px;
}

.btn-info {
    color: #FFFFFF;
    background-color: #4FC95D;
    border-color: #4FC95D;
    width: 288px;
    margin-left: 3px;
    margin-top: 22px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #F6F6F6;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.45rem;
    margin-left: 22px;
    margin-right: 24px;
    margin-top: 19px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-bottom: -6px;
    margin-top: -32px;
    margin-left: -34px;
    margin-right: -9px;
}

label {
    display: inline-block;
    margin-bottom: -0.5rem;
}

.form-group {
    margin-bottom: 1rem;
    margin-left: -16px;
    margin-right: -16px;
}

.col-xs-11 {
    width: 88.666667%;
    margin-left: 15px;
}

.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 8px;
}

.alert {
    padding: 15px;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-bottom: -4px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #FFFFFF;
    background-color: #FD0000;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    height: -1px;
}

.ng-valid {
    border-left: 5px solid #42a948;
}

.ng-invalid {
    border-left: 5px solid #FD0000;
}

.row {
    margin-right: -26px;
    margin-left: 1px;
}

.col-xs-12 {
    width: 104%;
    margin-left: -11px;
}

.text-center {
    text-align: center;
    margin-top: -19px;
}