main {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 61px 1fr 50px;
    grid-template-areas: 
        'navegacao'
        'conteudo'
        'rodape';
}
header {
    grid-area: navegacao;
    background-color: #3E5055;
}
section {
    grid-area: conteudo;
    
}
footer {
    grid-area: rodape;
    margin-bottom: 0px;;
}