@font-face{
  font-family: "Roboto";
  src: url('../../../../assets/fonts/roboto/Roboto-Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: "Segoe UI";
  src: url('../../../../assets/fonts/segoe-ui.otf');
}
.container-header-login{
  left: 77px;
  width: 240px;
  height: 43px;

  text-align: left;
  font: Bold 32px/43px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.container-cadastro {
  left: 35px;
  width: 291px;
  height: 293px;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 137px;
  margin-top: 25px;
}

.verificacao-text-1{
  width: 288px;
  height: 78px;
  text-align: center;
  font: bold 20px Roboto;
  letter-spacing: 0;
  color: #000000;
  margin-bottom: 2rem;
}
.verificacao-text-2{
  height: 88px;
  text-align: center;
  font: Regular 16px Segoe UI;
  letter-spacing: 0;
  color: #707070;
  margin-bottom: 1rem;
}

.form-input {
  width: 138px;
  height: 48px;

  border: 1px solid #9A9A9A;
  border-radius: 6px;
  opacity: 1;
  margin-bottom: 2rem;
  margin-left: 25%;
}

.btn-principal {
  width: 291px;
  height: 40px;

  background: #d1d1d1 0% 0% no-repeat padding-box;
  border-radius: 6px;
  opacity: 1;

  font: Regular 16px/12px Segoe UI;
  letter-spacing: 0;
  color: #ffffff;
  margin-top: 2rem;
}

@media(min-width: 766px){
  .container-cadastro {
    left: 35px;
    width: 539px;
    height: 410px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 137px;
    margin-top: 77px;
    box-shadow: 0px 3px 6px #00000029;
    border: 3px solid #D1D1D1;
    border-radius: 12px;
  }
  .text-header3{
    font-size: 32px;
    width: 272px;
    height: 43px;
  }
  form {
      margin-top: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .verificacao-text-1{
    width: 446px;
    height: 52px;
    font: bold 26px Roboto;
  }
  .verificacao-text-2{
    width: 490px;
    height: 65px;
    font: Regular 21px Segoe UI;
  }

  .form-input {
      width: 161px;
      height: 48px;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  .btn-principal {
      width: 490px;
      margin-top: 0rem;
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 1079px) {

}
