<nav class="navbar justify-content-between">
    <form class="form-inline">
        <button class="btn btn-outline-light my-2 my-sm-0" routerLink='/login' routerLinkActive='active'>Login</button>
        <button class="btn btn-outline-light my-2 my-sm-0" routerLink='/signup/personal' routerLinkActive='active'>Efetuar login</button>
    </form>
</nav>

<section class="tela" style="background:#F6F6F6;">
    <div class="container">
        <div class="board">
            <!-- Navigation Area (Circular Tabs) -->
            <app-navbar></app-navbar>
            <!-- End Navigation Area (Circular Tabs) -->

            <!-- Content Area -->
            <div class="tab-content">
                <!-- Routed view  -->
                <router-outlet></router-outlet>
            </div>
            <!-- End Content Area -->
        </div>

        <!-- <pre>{{ formData | json }}</pre> -->
    </div>
</section>