.container {
    width: 122%;
    padding-right: 19px;
    padding-left: 43px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 133px;
}

.btn-lg {
    padding: 0.5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-left: -3px;
    margin-right: -87px;
    padding-right: 137px;
    padding-left: 136px;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    margin-bottom: 23px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    margin-right: -77px;
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: -0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -11px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-right: -79px;
    margin-left: -13px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: -6px;
    margin-right: 18px;
}

.form-group {
    margin-bottom: 1rem;
    margin-right: -23px;
}

.text-center {
    text-align: center !important;
    margin-right: -69px;
}

