<h4 class="head text-center">
    <strong>{{title}}</strong></h4>
<div class="card-body">
    <form class="loginForm" #loginForm="ngForm" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
        <div class="row">
            <div class="form-group">
                <label for="username">Login</label>
                <input type="text" [(ngModel)]="usuario.username" required class="form-control" name="username" id="username">
                <div class="alert alert-danger" [hidden]="usuario.username.valid">*A senha deve conter de 4 a 8 caracteres.
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" [(ngModel)]="usuario.password" required name="password" class="form-control" id="password" autocomplete="new-password">
                <div class="alert alert-danger" [hidden]="usuario.password.valid">*Esta não é uma senha válida. <br> *A senha deve conter de 4 a 8 caracteres.</div>
            </div>
            <div class="form-check small">
                <div class="">
                    Esqueceu senha ou login? <a href="">Clique aqui</a>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg" id="btnLogin" (click)="fazerLogin()">Login</button>
        <div class="form-check small">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input">
                <span> Mantenha conectado</span>
            </label>
        </div>
    </form>
</div>