<div *ngIf="isLoginError" class="alert alert-danger" role="alert">
    Usuário ou senha incorreto!
</div>
<div class="container py-5">
    <h3 class="mb-0 text-center">
        <strong>Efetue o login!</strong>
    </h3>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5"></h2>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <span class="anchor" id="formLogin"></span>

                    <div class="card card-outline-secondary">
                        <div class="card-body">
                            <form class="loginForm" [formGroup]="loginForm" role="form" autocomplete="off" id="loginForm" novalidate="" method="POST">
                                
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" formControlName="username" name="username" placeholder="Username" id="username">
                                    <div class="invalid-feedback">Please enter your username or email</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" formControlName="password" name="password" placeholder="Password" class="form-control" id="password" autocomplete="new-password">
                                    <div class="invalid-feedback">Please enter a password</div>
                                </div>
                                <div class="form-check small">
                                    <div class="">
                                        Esqueceu senha ou login? <a href="">Clique aqui</a>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-lg" id="btnLogin" (click)="fazerLogin()">Login</button>
                                <div class="form-check small">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input"> <span>Remember me on this computer</span>
                                    </label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>