.container {
    margin: 1px 213px 138px 15px;
    padding: 0;
}

.btn-lg {
    padding: 0.5rem 5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin-left: 25px;
    margin-right: -87px;
    padding-right: 137px;
    padding-left: 128px;
}

.form-control:focus {
    border-color: #4FC95D;
    outline: 0;
    box-shadow: 0 0 0 0.01rem #4FC95D;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    margin-bottom: 23px;
    margin-right: -74px;
    padding-left: 31px;
}

label {
    display: inline-block;
    margin-bottom: -0.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -53px;
    margin-left: 25px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    margin-right: -79px;
    margin-left: -24px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-left: -33px;
    margin-right: -39px;
    width: 199px;
}

.form-group {
    margin-bottom: 1rem;
    margin-right: -23px;
}

.text-center {
    text-align: center !important;
    margin-right: -69px;
}

.form-control {
    display: block;
    width: 76%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
}

.ng-valid {
    border-left: 5px solid #42a948;
}

.ng-invalid {
    border-left: 5px solid #FD0000;
}

.alert {
    padding: 15px;
    padding-top: 7px;
    padding-bottom: 20px;
    margin-bottom: -4px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-danger {
    color: #FFFFFF;
    background-color: #FD0000;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
    height: 0px;
    width: 296px;
    margin-right: 94px;
}