.dados-perfil {
  background-color: black;
  grid-area: conteudo;
}
.cabecalho-perfil {
  background-color:#3E5055;
  grid-area: navegacao;
}
.barra-lateral-perfil {
  background-color: #3E5055;
  grid-area: lateral;
}
.perfil {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 61px 1fr;
  grid-template-areas:
      'navegacao navegacao'
      'lateral conteudo';
}
